{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1> Welcome to Sri Shankar Traders</h1>
    <h1> Get the products with finest quality </h1>
    <h2> Kesthur, Maddur Taluk, Mandya District </h2>

  </div>
</div>

<!--   <header id="header"> -->
<!--     <div class="logo">
      <img src="https://www.freelogodesign.org/file/app/client/thumb/56e56363-5f1d-4272-92f5-bc58e1565dde_200x200.png?1606225010968" id="_logo"></img>    </div>

    <nav id="nav-bar">
      <ul>
        <li><a class="nav-link" href="#features"><strong>Features</strong></a></li>
        <li><a class="nav-link" href="#how-it-works"><strong>About</strong></a></li>
        <li><a class="nav-link" href="#pricing"><strong>Product Pricing</strong></a></li>
      </ul>
    </nav> -->
<!--   </header> -->

  <section id="hero">
    <h2>This is the place for everyone who is looking to purchase best quality Chemical Fertilizers, Cements, and Roasted Coffee Powder</h2>
    <form id="form" action="">
      <h3><strong>Please visit our owner's Facebook page</strong></h3>
      <input
        name="email"
        id="email"
        type="email"
        placeholder="Enter your email address"
        required
      />
      <input id="submit" type="submit" value="Get Started" class="btn" />
    </form>
  </section>

  <div class="container">
    <section id="features">
      <div class="grid">
        <div class="icon"><i class="fa fa-3x fa-fire"></i></div>
        <div class="desc">
          <h2>Premium Products</h2>
          <p>
            Shankar Traders is a licences corporation established in early 70's. The Company has been supplying the finest quality products since the day one. You can visit or contact the supplier anytime .
          </p>
        </div>
      </div>
      <div class="grid">
        <div class="icon"><i class="fa fa-3x fa-truck"></i></div>
        <div class="desc">
          <h2>Fast Shipping</h2>
          <p>
            Are you still waiting? 
            Call us for any additional information. Shankar Traders can deliver the products to your door steps through thrier delivery partners. We are very happy to help you :)
          </p>
        </div>
      </div>
      <div class="grid">
        <div class="icon">
          <i class="fa fa-3x fa-battery-full" aria-hidden="true"></i>
        </div>
        <div class="desc">
          <h2>Quality Assurance</h2>
          <p>
            We always make sure our customers are fully satisfied.
          </p>
        </div>
      </div>
    </section>
    <section id="how-it-works" class="container">
<!--       <div id="matters"><h3>Why fertilizer matters?</h3></div> -->
<!--     <section id="pricing" class="container"> -->
<!--       <div class="product" id="tenor"> -->
      <iframe width="857" height="482" src="https://www.youtube.com/embed/5TzzPOy1T3g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"
<!--         </div> -->
<!--       <div id="matters"><h3>Cement</h3></div> -->
<!--       <div class="product" id="tenor"> -->
      <iframe width="857" height="482" src="https://www.youtube.com/embed/fTAsL2dQKEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--         </div> -->
<!--       <div id="matters"><h3>Coffee for life!</h3></div> -->
<!--       <div class="product" id="tenor"> -->
      <iframe width="643" height="482" src="https://www.youtube.com/embed/4G5LcVUcWAg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--         </div> -->
      
    </section>
    </div>
    
    <section id="pricing" class="container">
      <div class="product" id="tenor">
        <div class="level" id="level">Chemical Fertilizers</div>
        <h2>Price range: 250Rs to 1250Rs</h2>
        <ol>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li>
        </ol>
      </div>
      <div class="product" id="bass">
        <div class="level" id="level">Cements</div>
        <h2> Price range: 300Rs to 700Rs</h2>
        <ol>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li>
        </ol>
      </div>
      <div class="product" id="valve">
        <div class="level" id="level">Coffee and Tea Powders</div>
        <h2>Price varies in account to quantity.</h2>
        <ol>
          <h3>Coffee powder</h3>
          <li>d</li>
          <li>c</li>
          <li>b</li>
          <li>a</li>
        </ol>
        <ol>
          <h3>Tea</h3>
          <li>a</li>
          <li>b</li>
          <li>c</li>
        </ol>
      </div>
    </section>
    <footer>
      <h3>
      <ul>
        <li>Shankar. K. M.</li>
        <li>Kesthur, Maddur Taluk, Mandya District - 571 429</li>
        <li>+91 9945995432</li>
       </ul>
        </h3>
      <ul>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <span>Copyright 2016, Original Trombones</span>
    </footer>
  
</div>



{% endblock %}
